.sidenav {
  color: rgb(25, 5, 5);
  position: fixed;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.sidenav:hover {
  color: white;
}

.sidenav__logo {
  width: 120px;
  margin: 25px;
}

.sidenav__buttons {
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;

  background: 0;
  border: 0;
  margin: 5px 10px 5px 10px;
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
  width: 100%;
}

.sidenav__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(22, 2, 2);
  background: 0;
  border: 0;
  margin: 5px 10px 5px 10px;
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
  width: 100%;
}

.sidenav__button:hover {
  cursor: pointer;
  background-color: rgba(11, 0, 0, 1);
  color: white;
}

.sidenav__button > span {
  font-size: 18px;
  font-weight: bolder;
  margin-left: 10px;
}

.sidenav__more {
  position: fixed;
  bottom: 3px;
}
